@import 'variables';
@import 'utils';

.table-wrapper {
  box-shadow: $shadow;
  border-radius: 8px;
  padding: 10px 20px;
}
.table-vr-component {
  width: 100%;
  height: 500px;
}
table {
  width: 100%;
  thead {
    tr {
      th {
        text-align: start;
        padding: 5px;
        min-width: 100px;
        cursor: pointer;
      }
      .sort-col {
        background-color: #f1f1f1;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 5px;
      }
    }
    tr:nth-child(even) {
      background-color: $gray-2;
    }
  }
}