<div class="table-wrapper">
  <app-search-bar></app-search-bar>
  <table>
    <thead>
      <tr cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
        <th *ngFor="let item of data?.titles" (click)="sort(item.key)" [ngClass]="{'sort-col': item.key===selectedCol}" cdkDrag>{{item.label}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users | async; trackBy:trackById" class="records">
        <td *ngFor="let title of data?.titles">{{title.key==='date_of_birth' ? (item[title.key] | dayjs:'format':'DD MMM YY'):item[title.key]}}</td>
      </tr>
    </tbody>
  </table>
  <app-pagination></app-pagination>
</div>