@import 'variables';
@import 'utils';

.search-wrapper {
  @include flex(center, space-between);
  height: 70px;
  padding: 5px;
  form {
    width: 300px;
  }
  .limit-select {
    ::ng-deep app-select {
      mat-form-field {
        width: 80px;
      }
    }
  }
}