$font-family: 'Verdana', sans-serif;

:root {
  --primary-color: #5863CC;
  --primary-color-rbg: 88, 99, 204;
}

// Colors
$primary-color: var(--primary-color);
$primary-color-rbg: var(--primary-color-rgb);
$white: #ffffff;
$gray-1: #444444;
$gray-2: #EEEEEE;
$gray-3: #f1f1f1;
$shadow: 0px 4px 8px rgba(var(--primary-color-rbg), 0.3);

